MONGODB_URL = 

PORT = 

//cloudinary
CLOUDINARY_CLOUD_NAME = 
CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET = 

//jwt secret keys
JWT_SECRET_KEY = 

JWT_REFRESH_SECRET_KEY = 

NODE_ENV = 
SESSION_SECRET= 

//EMail
EMAIL_HOST = 
EMAIL_PORT = 
EMAIL_USER = 
EMAIL_PASS = 
EMAIL_FROM = 


RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET= 

GEMINI_API_KEY = 